body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr fr;
}

.main {
    display: flex;
}

#map {
    height:75vh;
    width: 50vw;
}

.map-overlay-right {
    height: 100%;
    width: 75%;
    color: black;
}

.map-overlay-inner {
    color: blue;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0 0 0 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}